


<div class="footer">
        <div class="container">
            <div class="row footer-border">
                <div class="col-md-5">
                    <div class="popular-destanations">
                        <p>Gozgalmaýan emläk satyn almak ýa-da kärendesine almak
                        aňsat iş däl, ýöne gözlegiňizi nireden başlamalydygyny bilseňiz,
                        ol meseläňiz aňsatlyk bilen çözülip bilner. Size öý satmak ýa-da satyn almak, 
                        ýaşaýyş jaýyny kärendä almak ýa-da kärendesine almak kararyna gelen bolsaňyz, jaý, kotej ýa-da ýazlyk
                        öýi gözleýän bolsaňyz, ýa-da täjirçilik gozgalmaýan emläk gerek bolsa webigem.com size kömek eder!</p>

                        

                    </div>
                </div>



                <div class="col-md-2">
                    <div class="popular-destanations">
                        <h3>Çalt giriş:</h3>

                        <ul class="places">
                            <li>
                                <ul>
                                    <li>
                                        <a href="Home/Tumilanlar">
                                            Hemme Bildirişler
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Home/Blog">
                                            Blog
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Home/iletisim">
                                                Habarlaşmak
                                        </a>
                                    </li>

                                </ul>
                            </li>

                        </ul>

                    </div>
                </div>





                <div class="col-md-4 col-md-offset-1">
                    <div class="row contacts">
                        <div class="col-md-12 col-sm-6">
                            <h3>Biz bilen habarlaşyň:</h3>
                            <div class="address">1071 Plaza Çankaya /ANKARA</div>
                            <dl>
                                <dt>Telefon:</dt>
                                <dd>+90 (546) 486 37 46</dd>
                                @*<dt>Skype:</dt>
                        <dd>area.skype</dd>*@
                                <dt>E Posta:</dt>
                                <dd><a href="mailto:info@webigem.com">info@webigem.com</a></dd>
                            </dl>
                        </div>
                        <div class="col-md-12 col-sm-6">
                            <h3>Bizi yzarla:</h3>
                            <div class="social-wrap">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer-bottom">
                <div class="col-sm-6">
                    <div class="copyright">© 2022 <a href="https://www.webigem.com/">Webigem Alym Satuw</a> — Hemme Haklary Gizlidir</div>
                </div>
             
            </div>
        </div>
    </div>