@model IEnumerable<GGYatirim.Models.Sinif.DbBlog>
@using GGYatirim.App_Code



@foreach (var x in Model)
{
<div class="item">
    <p href="#" class="name">
        @Html.ActionLink(x.Baslik, "BlogDetay", new { id = x.BlogID, baslik3 = Seo.AdresDuzenle(x.Baslik) })

    </p>
    <div class="buttons-wrap">
        <p href="/Home/BlogDetay/@x.BlogID" class="more">
            @Html.ActionLink("Daha Fazla Oku", "BlogDetay", new { id = x.BlogID, baslik3 = Seo.AdresDuzenle(x.Baslik) })

        </p>
    </div>
</div>
}
