@model IEnumerable<GGYatirim.Models.Sinif.DbilanDurum>







@foreach (var x in Model)
{
    if (x.ilanDurumID == 2)
    {
        <a href="/Home/Kiralikilan/@x.ilanDurumID">
            <div class="region-element">
                <span class="city">@x.ilanDurumAd</span>
                <span class="count">@ViewBag.d4</span>
            </div>
        </a>
    }
    if (x.ilanDurumID == 1)
    {
        <a href="/Home/Satilikilan/@x.ilanDurumID">
            <div class="region-element">
                <span class="city">@x.ilanDurumAd</span>
                <span class="count">@ViewBag.d3</span>
            </div>
        </a>
    }
   


}




