@*@model List<GGYatirim.Models.DovizModel>

@foreach (var x in Model)
{
    <a href="#">
        <div class="region-element">
            <span class="city">@x.satis</span>
            <span class="count">@x.alis</span>
        </div>
    </a>
}*@
