
@{
    Layout = null;
}




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>PRODUCTION BUILD Area HTML</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans:700,400%7CRaleway:400,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="~/area/css-min/area.min.css" rel="stylesheet" />
</head>

<body>
    <div id="preloader">
        <div>
            <canvas id='circleback' height='100' width='100'></canvas>
            <canvas id='circlemain' height='100' width='100'></canvas>
        </div>
    </div>


    <div class="header">
        <div class="container">
            <div class="wrapper">
                <a href="#" class="logo">
                    <img src="~/Content/Images/Logo Update-01.png" alt="logo">
                </a>
                <button type="button" data-toggle="collapse" data-target="#header" aria-expanded="false"
                        class="navbar-toggle">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <div class="menu-list">
                    <div id="header" class="navbar-collapse collapse">
                        <ul>

                            <li>
                                <a href="#">
                                    Emlak Kategoprileri
                                </a>
                                <ul class="sub-menu small">
                                    <li>
                                        <ul>
                                            <li>
                                                Emlak Kategorilerini Belirle
                                            </li>
                                            <li>
                                                <a href="/Admin/AdmEmlakTipi/#submit">
                                                    Emlak Tipi
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Admin/AdmilanDurumu/#submit">
                                                    İlan Durumu
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Admin/AdmilanOzellik/#submit">
                                                    İlan Özellikleri
                                                </a>
                                            </li>

                                            <li>
                                                <a href="/Admin/AdmKonum/#submit">
                                                    İlan Konumu(Şehir)
                                                </a>
                                            </li>



                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <a href="#">
                                        İlanlar
                                    </a>
                                    <ul class="sub-menu small">
                                        <li>
                                            <ul>
                                                <li>
                                                    İlan Ekle Sil
                                                </li>
                                                <li>
                                                    <a href="/Admin/Admilan">
                                                        İlan Ekle Sil (Yetkili Kişi)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Admin/AdmilanEkle">
                                                        İlan Ekle
                                                    </a>
                                                </li>




                                            </ul>
                                        </li>
                                    </ul>
                                </li>


                            }





                                <li>
                                    <a href="#">
                                        İletişim Bilgiler
                                    </a>
                                    <ul class="sub-menu small">
                                        <li>
                                            <ul>
                                                <li>
                                                    İletişim Bilgi
                                                </li>
                                                <li>
                                                    <a href="/Admin/AdmiletisimBilgi/#submit">
                                                        İletişim Bilgi
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Admin/AdmiletsmGMesaj/#submit">
                                                        Gelen Mesajlar
                                                    </a>
                                                </li>

                                            </ul>
                                        </li>
                                    </ul>
                                </li>





                                <li>
                                    <a href="#">
                                        Yetkili Kullanıcılar
                                    </a>
                                    <ul class="sub-menu small">
                                        <li>
                                            <ul>
                                                <li>
                                                    Kullanıcılar
                                                </li>
                                                @if (User.IsInRole("Admin"))
                                                {
                                                    <li>
                                                        <a href="/Admin/Adminkullanici/#submit">
                                                            (Yetkili) Kullanıcılar
                                                        </a>
                                                    </li>
                                                }
                                                <li>
                                                    <a href="/Admin/AdmTemsilci/#submit">
                                                        Temsilciler
                                                    </a>
                                                </li>


                                            </ul>
                                        </li>
                                    </ul>
                                </li>














                            </ul>
                    </div>
                </div>
                @*<div class="subscribe-buttons">
                    <button class="sign-in js-sign-in">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <span>sign in</span>
                    </button>
                    <button class="registration">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>registration</span>
                    </button>
                </div>*@
            </div>
        </div>
    </div>
    <div id="signin-wrap">
        <div class="sign-in-form">
            <div class="wrap">
                <h3>Sign in</h3>
                <button type="button" class="js-button-close"><i class="material-icons">&#xE5C9;</i></button>
            </div>
            <div class="left-wrap">
                <p>Use your email address and password to sign in to your account, or use it with social networks</p>
                <input type="email" placeholder="E-mail">
                <input type="password" placeholder="Password">
                <div class="buttons-wrap">
                    <a href="#" class="sign">sign in</a>
                    <a href="#" class="create">create account</a>
                </div>
                <a href="#">restore password</a>
            </div>
            <div class="right-wrap">
                <img src="./images/sign-in.png" alt="img">
            </div>
        </div>
    </div>

    <div class="account-page">
        <div class="account_menu account_menu__normal">
            <a href="#" class="js-toggle-menu">
                <div class="account_menu_agent">
                    <div class="agent-avatar">
                        <img src="https://media.istockphoto.com/vectors/avatar-businessman-user-icon-vector-id1249867015" width="60px;" alt="user">
                        <div class="agent-status status-online"></div>
                    </div>
                    <h2>Agent Name</h2>
                    <i class="material-icons js-test-toggle sm-visible"></i>

                </div>
            </a>
            <div class="account_menu_categories">
                @*<a href="#dashboard" class="js-menu-link" data-display-id="dashboard">
            <div class="category_item">
                <div class="category_item__category-name">
                    <i class="material-icons">insert_chart</i>
                    <div class="new-notification"></div>
                    <span>İstatistikler</span>
                </div>
            </div>
        </a>*@


                <a href="/Admin/Index">
                    <div class="category_item">
                        <div class="category_item__category-name">
                            <i class="material-icons">insert_chart</i>
                            <div class="new-notification"></div>
                            <span>İstatistikler</span>
                        </div>
                    </div>
                </a>
                @if (User.IsInRole("Admin"))
                {
                    <a href="/Admin/AdmilanEkle">
                        <div class="category_item">
                            <div class="category_item__category-name">
                                <i class="fa fa-plus"></i>
                                <div class="new-notification"></div>
                                <span>İlan Ekle</span>
                            </div>
                        </div>
                    </a>





                    <a href="/Admin/AdmSilinmisilan">
                        <div class="category_item">
                            <div class="category_item__category-name">
                                <i class="fa fa-remove"></i>
                                <div class="new-notification"></div>
                                <span>Silinmiş İlanlar</span>
                            </div>
                        </div>
                    </a>

                    <a href="/Admin/AdmSilinmisMusteriler">
                        <div class="category_item">
                            <div class="category_item__category-name">
                                <i class="fa fa-trash"></i>
                                <div class="new-notification"></div>
                                <span>Silinmiş Müşteriler</span>
                            </div>
                        </div>
                    </a>

                }





                <a href="/Admin/AdmKisiilan">
                    <div class="category_item">
                        <div class="category_item__category-name">
                            <i class="fa fa-save"></i>
                            <div class="new-notification"></div>
                            <span>İlanlar</span>
                        </div>
                    </div>
                </a>

                <a href="/Admin/AdmKayitliKullanici">
                    <div class="category_item">
                        <div class="category_item__category-name">
                            <i class="fa fa-user-times"></i>
                            <div class="new-notification"></div>
                            <span>Kayıtlı Müşteriler</span>
                        </div>
                    </div>
                </a>

                @if (User.IsInRole("Admin"))
                {
                    <a href="/Admin/Admilan">
                        <div class="category_item">
                            <div class="category_item__category-name">
                                <i class="fa fa-print"></i>
                                <div class="new-notification"></div>
                                <span>İlanlar(Admin Yetkili)</span>
                            </div>
                        </div>
                    </a>
                }
                    <a href="/Admin/AdmBlog">
                        <div class="category_item">
                            <div class="category_item__category-name">
                                <i class="fa fa-paper-plane"></i>
                                <div class="new-notification"></div>
                                <span>Bloglar</span>
                            </div>
                        </div>
                    </a>



                    <a href="#settings" class="js-menu-link" data-display-id="settings">
                        <div class="category_item">
                            <div class="category_item__category-name">
                                <i class="material-icons">settings</i>
                                <div class="new-notification"></div>
                                <span>Ayarlar</span>
                            </div>
                        </div>
                    </a>

                    <a href="/Admin/LogOut">
                        <div class="category_item">
                            <div class="category_item__category-name">
                                <i class="fas fa-user"></i>
                                <div class="new-notification"></div>
                                <span>Çıkış</span>
                            </div>
                        </div>
                    </a>



                    <i class="material-icons js-test-toggle lg-visible"></i>
                </div>
        </div>

        @RenderBody()
        
    </div>


    <script type="text/javascript" src="~/area/js/library/jquery.js"></script>
    <script type="text/javascript" src="~/area/js/library/bootstrap.js"></script>
    <script type="text/javascript" src="~/area/js/library/owl.carousel.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBGotOna22MxxiHpaGPV1aEOYTMx428-g"></script>
    <script type="text/javascript" src="~/area/js/library/markerclusterer.js"></script>
    <script type="text/javascript" src="~/area/js/library/ion.rangeSlider.min.js"></script>
    <script type="text/javascript" src="~/area/js/library/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="~/area/js/library/chartist.min.js"></script>
    <script type="text/javascript" src="~/area/js/library/microplugin.js"></script>
    <script type="text/javascript" src="~/area/js/library/sifter.js"></script>
    <script type="text/javascript" src="~/area/js/library/selectize.js"></script>
    <script type="text/javascript" src="~/area/js/library/progressbar.js"></script>
    <script type="text/javascript" src="~/area/js/library/module.js"></script>
    <script type="text/javascript" src="~/area/js/library/hotkeys.js"></script>
    <script type="text/javascript" src="~/area/js/library/uploader.js"></script>
    <script type="text/javascript" src="~/area/js/library/simditor.js"></script>

    <script type="text/javascript" src="~/area/js/rangeslider.js"></script>
    <script type="text/javascript" src="~/area/js/agent_slider.js"></script>
    <script type="text/javascript" src="~/area/js/post_slider.js"></script>
    <script type="text/javascript" src="~/area/js/property_carousel.js"></script>
    <script type="text/javascript" src="~/area/js/partner_carousel.js"></script>
    <script type="text/javascript" src="~/area/js/agents_carousel.js"></script>
    <script type="text/javascript" src="~/area/js/counters.js"></script>
    <script type="text/javascript" src="~/area/js/slider_text.js"></script>
    <script type="text/javascript" src="~/area/js/pageviews_chart.js"></script>
    <script type="text/javascript" src="~/area/js/search_form.js"></script>
    <script type="text/javascript" src="~/area/js/search_form_slider.js"></script>
    <script type="text/javascript" src="~/area/js/count_checker.js"></script>
    <script type="text/javascript" src="~/area/js/form_toggle.js"></script>
    <script type="text/javascript" src="~/area/js/featured_carousel.js"></script>
    <script type="text/javascript" src="~/area/js/one_element_slider.js"></script>
    <script type="text/javascript" src="~/area/js/accordion.js"></script>
    <script type="text/javascript" src="~/area/js/partners_small.js"></script>
    <script type="text/javascript" src="~/area/js/pageviews_chart.js"></script>
    <script type="text/javascript" src="~/area/js/intro_page.js"></script>
    <script type="text/javascript" src="~/area/js/map_component.js"></script>
    <script type="text/javascript" src="~/area/js/header.js"></script>
    <script type="text/javascript" src="~/area/js/property_slider.js"></script>
    <script type="text/javascript" src="~/area/js/visible.js"></script>
    <script type="text/javascript" src="~/area/js/coming-soon.js"></script>
    <script type="text/javascript" src="~/area/js/rate_article.js"></script>
    <script type="text/javascript" src="~/area/js/service-page-size.js"></script>
    <script type="text/javascript" src="~/area/js/preloader.js"></script>
    <script type="text/javascript" src="~/area/js/clear_form.js"></script>
    <script type="text/javascript" src="~/area/js/property_gallery.js"></script>
    <script type="text/javascript" src="~/area/js/area_tabs.js"></script>
    <script type="text/javascript" src="~/area/js/testimonials.js"></script>
    <script type="text/javascript" src="~/area/js/sign_in.js"></script>
    <script type="text/javascript" src="~/area/js/account_page.js"></script>
    <script type="text/javascript" src="~/area/js/chat_component.js"></script>
    <script type="text/javascript" src="~/area/js/account_chart.js"></script>
    <script type="text/javascript" src="~/area/js/account_component.js"></script>
    <script type="text/javascript" src="~/area/js/text_editor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <script type="text/javascript" src="~/area/js/main.js"></script>
    <!--<script type="text/javascript" src="js-min/min.js"></script>-->

</body>

</html>