
@{
    Layout = null;
}

<!doctype html>
<html class="no-js " lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="1992 yılında kurulan Güner Group Yatırım, satılık, kiralık, ikinci el, otomobil, apartman, daire, arsa, müstakil, dubleks, arazi, dükkan, işyeri, bahçe, petrol istasyonu, çiftlik, ahır ve her türlü ürün - ücretsiz ilan sitesi.">
    <title> Admin Panel </title>
    <link rel="icon" href="~/Content/Images/favicon-01.png" type="image/x-icon"> <!-- Favicon-->
    <link rel="stylesheet" href="~/KProfil/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/KProfil/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <link rel="stylesheet" href="~/KProfil/assets/plugins/morrisjs/morris.min.css" />
    <!-- Custom Css -->
    <link rel="stylesheet" href="~/KProfil/assets/css/main.css">
    <link rel="stylesheet" href="~/KProfil/assets/css/color_skins.css">
    @*Pagedlİst*@
<link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<body class="theme-blue">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="~/Content/Images/favicon-01.png" width="48" height="48" alt="Compass"></div>
            <p>Lütfen Bekleyiniz...</p>
        </div>
    </div>
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <!-- Top Bar -->
    <nav class="navbar">
        <div class="col-12">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="/"><img src="~/Content/Images/favicon-01.png" width="30" alt="Yetkili Panili"><span class="m-l-10">Admin Paneli</span></a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="javascript:void(0);" class="ls-toggle-btn" data-close="true"><i class="zmdi zmdi-swap"></i></a></li>
                <li class="hidden-sm-down">
                    @*<div class="input-group">
                        <input type="text" class="form-control" placeholder="Ara...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-search"></i>
                        </span>
                    </div>*@
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">

                </li>
                <li class="dropdown">


                </li>
                <li>
                    <a href="javascript:void(0);" class="fullscreen hidden-sm-down" data-provide="fullscreen" data-close="true"><i class="zmdi zmdi-fullscreen"></i></a>
                </li>
                <li><a href="/Admin/LogOut" class="mega-menu" data-close="true"><i class="zmdi zmdi-power"></i></a></li>
                <li class=""><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
            </ul>
        </div>
    </nav>

    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <div class="menu">
            <ul class="list">
                <li>
                    <div class="user-info">
                        <div class="image"><a href="#"><img src="~/KProfil/assets/images/profile_av.jpg" alt="User"></a></div>
                        <div class="detail">

                            <h4>@TempData["adsoyad"]</h4>

                        </div>

                        <a href="/Admin/LogOut" title="Çıkış Yap"><i class="zmdi zmdi-power"></i></a>
                    </div>
                </li>

                <li class="active open"><a href="/Admin/Index"><i class="zmdi zmdi-home"></i><span>Gösterge Paneli</span></a></li>






                @if (User.IsInRole("Admin"))
                {



                    <li>
                        <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-city"></i><span>İlanlar</span> </a>
                        <ul class="ml-menu">
                            <li><a href="/Admin/AdmKisiilan">Tüm İlanlar</a></li>
                            <li><a href="/Admin/Admilanlarim">İlanlarım</a></li>
                            <li><a href="/Admin/Admilan">İlanlar(Admin Yetkili)</a></li>
                            <li><a href="/Admin/OnayBekleyenilan">Onay Bekleyen İlanlar</a></li>
                            <li><a href="/Admin/AdmSilinmisilan">Silinmiş İlanlar</a></li>

                        </ul>
                    </li>



                    <li>
                        <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-collection-add"></i><span>İlan Ekle</span> </a>
                        <ul class="ml-menu">
                            <li><a href="/Admin/AdmilanEkle">Apartman</a></li>
                            <li><a href="/Admin/AdmilanEkleDaire">Daire</a></li>
                            <li><a href="/Admin/AdmilanEkleArsa">Arsa</a></li>
                            <li><a href="~/Admin/AdmilanEkleMustakil">Müstakil</a></li>
                            <li><a href="~/Admin/AdmilanEkleDubleks">Dubleks</a></li>
                            <li><a href="~/Admin/AdmilanEkleArazi">Arazi</a></li>
                            <li><a href="~/Admin/AdmilanEkleDukkan">Dükkan</a></li>
                            <li><a href="~/Admin/AdmilanEkleisteri">İşyeri</a></li>
                            <li><a href="~/Admin/AdmilanEkleBahce">Bahçe</a></li>
                            <li><a href="~/Admin/AdmilanEklePetrolistasyon">Petrol İstasyonu</a></li>
                            <li><a href="~/Admin/AdmilanEkleCiftlik">Çiftlik</a></li>
                            <li><a href="~/Admin/AdmilanEkleAhir">Ahır</a></li>
                            <li><a href="~/Admin/AdmilanEkleOtomobil">Otomobil</a></li>
                            <li><a href="~/Admin/AdmilanEkleTraktor">Traktör</a></li>
                            @*<li><a href="property-detail.html">İlan Detay</a></li>*@
                        </ul>
                    </li>



                }


                @if (User.IsInRole("İçerik Yönetici"))
                {

                    <li>
                        <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-city"></i><span>İlanlar</span> </a>
                        <ul class="ml-menu">
                            <li><a href="/Admin/AdmKisiilan">Tüm İlanlar</a></li>
                            <li><a href="/Admin/Admilanlarim">İlanlarım</a></li>

                        </ul>
                    </li>


                    <li>
                        <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-collection-add"></i><span>İlan Ekle</span> </a>
                        <ul class="ml-menu">
                            <li><a href="/Admin/AdmilanEkle">Apartman</a></li>
                            <li><a href="/Admin/AdmilanEkleDaire">Daire</a></li>
                            <li><a href="/Admin/AdmilanEkleArsa">Arsa</a></li>
                            <li><a href="~/Admin/AdmilanEkleMustakil">Müstakil</a></li>
                            <li><a href="~/Admin/AdmilanEkleDubleks">Dubleks</a></li>
                            <li><a href="~/Admin/AdmilanEkleArazi">Arazi</a></li>
                            <li><a href="~/Admin/AdmilanEkleDukkan">Dükkan</a></li>
                            <li><a href="~/Admin/AdmilanEkleisteri">İşyeri</a></li>
                            <li><a href="~/Admin/AdmilanEkleBahce">Bahçe</a></li>
                            <li><a href="~/Admin/AdmilanEklePetrolistasyon">Petrol İstasyonu</a></li>
                            <li><a href="~/Admin/AdmilanEkleCiftlik">Çiftlik</a></li>
                            <li><a href="~/Admin/AdmilanEkleAhir">Ahır</a></li>
                            <li><a href="~/Admin/AdmilanEkleOtomobil">Otomobil</a></li>
                            <li><a href="~/Admin/AdmilanEkleTraktor">Traktör</a></li>
                            @*<li><a href="property-detail.html">İlan Detay</a></li>*@
                        </ul>
                    </li>

                    <li><a href="/Admin/AdmKayitliKullanici"><i class="zmdi zmdi-save"></i><span>Kayıtlı Müşteriler</span></a></li>

                }




                @if (User.IsInRole("Admin"))
                {


                    <li>
                        <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-city"></i><span>Müşteriler</span> </a>
                        <ul class="ml-menu">
                            <li><a href="/Admin/AdmKayitliKullanici">Kayıtlı Müşteriler</a></li>
                            <li><a href="/Admin/AdmSilinmisMusteriler">Silinmiş Müşteriler</a></li>

                        </ul>
                    </li>


                    <li><a href="/Admin/AdmBlog"><i class="zmdi zmdi-leak"></i><span>Bloglar</span></a></li>

                }




                <!--Yazar-->
                @if (User.IsInRole("Yazar"))
                {


                    <li>
                        <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-city"></i><span>İlanlar</span> </a>
                        <ul class="ml-menu">
                            <li><a href="/Admin/AdmKisiilan">Tüm İlanlar</a></li>
                            @*<li><a href="/Admin/Admilanlarim">İlanlarım</a></li>*@

                        </ul>
                    </li>
                    <li><a href="/Admin/AdmKayitliKullanici"><i class="zmdi zmdi-save"></i><span>Kayıtlı Müşteriler</span></a></li>

                    <li><a href="/Admin/AdmBlog"><i class="zmdi zmdi-leak"></i><span>Bloglar</span></a></li>

                }







                <!--Pazarlama Elemanı-->
                @if (User.IsInRole("Pazarlama Elemanı"))
                {
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-city"></i><span>İlanlar</span> </a>
                        <ul class="ml-menu">
                            <li><a href="/Admin/AdmKisiilan">Tüm İlanlar</a></li>
                            <li><a href="/Admin/Admilanlarim">İlanlarım</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-collection-add"></i><span>İlan Ekle</span> </a>
                        <ul class="ml-menu">
                            <li><a href="/Admin/AdmilanEkle">Apartman</a></li>
                            <li><a href="/Admin/AdmilanEkleDaire">Daire</a></li>
                            <li><a href="/Admin/AdmilanEkleArsa">Arsa</a></li>
                            <li><a href="~/Admin/AdmilanEkleMustakil">Müstakil</a></li>
                            <li><a href="~/Admin/AdmilanEkleDubleks">Dubleks</a></li>
                            <li><a href="~/Admin/AdmilanEkleArazi">Arazi</a></li>
                            <li><a href="~/Admin/AdmilanEkleDukkan">Dükkan</a></li>
                            <li><a href="~/Admin/AdmilanEkleisteri">İşyeri</a></li>
                            <li><a href="~/Admin/AdmilanEkleBahce">Bahçe</a></li>
                            <li><a href="~/Admin/AdmilanEklePetrolistasyon">Petrol İstasyonu</a></li>
                            <li><a href="~/Admin/AdmilanEkleCiftlik">Çiftlik</a></li>
                            <li><a href="~/Admin/AdmilanEkleAhir">Ahır</a></li>
                            <li><a href="~/Admin/AdmilanEkleOtomobil">Otomobil</a></li>
                            <li><a href="~/Admin/AdmilanEkleTraktor">Traktör</a></li>
                            @*<li><a href="property-detail.html">İlan Detay</a></li>*@
                        </ul>
                    </li>


                }
                @*Herhes Görebilir*@
                @*<li><a href="/Admin/AdmKisiilan"><i class="zmdi zmdi-library"></i><span>İlanlar</span></a></li>*@







                @*İletişim Bilgiler*@

                @if (User.IsInRole("Admin"))
                {

                    <li>
                        <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-remote-control"></i><span>İletişim Bilgiler</span> </a>
                        <ul class="ml-menu">
                            <li><a href="/Admin/AdmiletisimBilgi/">İletişim Bilgi</a></li>
                            <li><a href="/Admin/AdmiletsmGMesaj/"> Gelen Mesajlar</a></li>
                        </ul>
                    </li>

                }



                @*İletişim Bilgiler*@

                @if (User.IsInRole("İçerik Yönetici"))
                {

                    <li>
                        <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-remote-control"></i><span>İletişim Bilgiler</span> </a>
                        <ul class="ml-menu">
                            <li><a href="/Admin/AdmiletisimBilgi/">İletişim Bilgi</a></li>
                            <li><a href="/Admin/AdmiletsmGMesaj/"> Gelen Mesajlar</a></li>
                        </ul>
                    </li>
                }












                <!--Admin-->
                @*Yetkili Kullanıcılar*@


                @if (User.IsInRole("Admin"))
                {

                    <li>
                        <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-looks"></i><span>Yetkili Kullanıcılar</span> </a>
                        <ul class="ml-menu">
                            <li><a href="/Admin/Adminkullanici/">(Yetkili) Kullanıcılar</a></li>
                            <li><a href="/Admin/AdmTemsilci/"> Temsilciler</a></li>
                        </ul>
                    </li>



                }




                @*Yetkili Kullanıcılar*@

                @if (User.IsInRole("İçerik Yönetici"))
                {
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-looks"></i><span>Yetkili Kullanıcılar</span> </a>
                        <ul class="ml-menu">
                            <li><a href="/Admin/AdmTemsilci/"> Temsilciler</a></li>
                        </ul>
                    </li>


                }






                <!---Admin Yetkili-->
                @if (User.IsInRole("Admin"))
                {

                    <li>
                        <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-comment-alt-text"></i><span>Emlak Kategoprileri</span> </a>
                        <ul class="ml-menu">

                            <li>
                                <a href="/Admin/AdmEmlakTipi/">
                                    Emlak Tipi
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/AdmilanDurumu/">
                                    İlan Durumu
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/AdmilanOzellik/">
                                    İlan Özellikleri
                                </a>
                            </li>

                            <li>
                                <a href="/Admin/AdmKonum/">
                                    İlan Konumu(Şehir)
                                </a>
                            </li>

                        </ul>
                    </li>


                }



                <!---İçerik Yöneticisi Yetkili-->
                @if (User.IsInRole("İçerik Yönetici"))
                {




                    <li>
                        <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-comment-alt-text"></i><span>Emlak Kategoprileri</span> </a>
                        <ul class="ml-menu">

                            <li>
                                <a href="/Admin/AdmEmlakTipi/">
                                    Emlak Tipi
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/AdmilanDurumu/">
                                    İlan Durumu
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/AdmilanOzellik/">
                                    İlan Özellikleri
                                </a>
                            </li>

                            <li>
                                <a href="/Admin/AdmKonum/">
                                    İlan Konumu(Şehir)
                                </a>
                            </li>

                        </ul>
                    </li>

                }







                <!---Yazar Yetkili-->
                @if (User.IsInRole("Yazar"))
                {
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-comment-alt-text"></i><span>Emlak Kategoprileri</span> </a>
                        <ul class="ml-menu">

                            <li>
                                <a href="/Admin/AdmEmlakTipi/">
                                    Emlak Tipi
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/AdmilanDurumu/">
                                    İlan Durumu
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/AdmilanOzellik/">
                                    İlan Özellikleri
                                </a>
                            </li>

                            <li>
                                <a href="/Admin/AdmKonum/">
                                    İlan Konumu(Şehir)
                                </a>
                            </li>

                        </ul>
                    </li>

                }















                @*<li><a href="map.html"><i class="zmdi zmdi-pin"></i><span>Harita</span></a></li>*@
                <!--<li>
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-settings"></i><span>Ayarlar</span></a>

                    <ul class="ml-menu">
                        <li><a href="/Kullanici/MProfilList">Profil Güncelle</a></li>-->
                        @*<li><a href="add-agent.html">Profil Güncelle</a></li>*@

                    <!--</ul>

                </li>-->

            </ul>
        </div>
    </aside>

    <!-- Right Sidebar -->
    <aside id="rightsidebar" class="right-sidebar">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#setting"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active slideRight" id="setting">
                <div class="slim_scroll">
                    <div class="card">
                        <h6>Kaplamalar</h6>
                        <ul class="choose-skin list-unstyled">
                            <li data-theme="purple">
                                <div class="purple"></div>
                            </li>
                            <li data-theme="blue" class="active">
                                <div class="blue"></div>
                            </li>
                            <li data-theme="cyan">
                                <div class="cyan"></div>
                            </li>
                            <li data-theme="green">
                                <div class="green"></div>
                            </li>
                            <li data-theme="orange">
                                <div class="orange"></div>
                            </li>
                            <li data-theme="blush">
                                <div class="blush"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="card">
                        <h6>Aydınlık</h6>
                        <ul class="list-unstyled theme-light-dark">
                            <li>
                                <div class="t-light btn btn-default btn-simple btn-round">Gündüz</div>
                            </li>
                            <li>
                                <div class="t-dark btn btn-default btn-round">Gece</div>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>


        </div>
    </aside>

    <!-- Chat-launcher -->
    <!-- Main Content -->
    @RenderBody()
    <!-- Jquery Core Js -->
    <script src="~/KProfil/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
    <script src="~/KProfil/assets/bundles/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->

    <script src="~/KProfil/assets/bundles/morrisscripts.bundle.js"></script><!-- Morris Plugin Js -->
    <script src="~/KProfil/assets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
    <script src="~/KProfil/assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob Plugin Js -->
    <script src="~/KProfil/assets/bundles/countTo.bundle.js"></script> <!-- Jquery CountTo Plugin Js -->
    <script src="~/KProfil/assets/bundles/sparkline.bundle.js"></script> <!-- Sparkline Plugin Js -->

    <script src="~/KProfil/assets/bundles/mainscripts.bundle.js"></script>
    <script src="~/KProfil/assets/js/pages/index.js"></script>
</body>
</html>