@model GGYatirim.Models.Sinif.DbAdmin
@{
    ViewBag.Title = "AdminKulEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-10 col-sm-12 col-xs-12">

    <h2>Yeni (Yetkili) Kullanıcı Ekle</h2>

    @using (Html.BeginForm("AdminKulEkle", "Admin", FormMethod.Post))
    {
        <form class="form-group" method="post">
            <b>Ad Soyad</b>
            @*@Html.TextBoxFor(x => x.AdSoyad, new { @class = "form-control" })*@
            <input type="text" name="AdSoyad" maxlength="90" required="" class="form-control" />


            <b>Telefon</b>
            @*@Html.TextBoxFor(x => x.Telefon, new { @class = "form-control" })*@
            <input type="text" name="Tel" required="" class="form-control" />

            <b>
                E-Posta
            </b>
            @*</b>@Html.TextBoxFor(x => x.EPosta, new { @class = "form-control" })*@
            <input type="text" name="EPosta" maxlength="50" required="" class="form-control" />

            <b>
                Şifre
            </b>
            @*@Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })*@
            <input type="text" name="Sifre" maxlength="50" required="" class="form-control" />


            <b> Kullanıcı Yetkisi *</b>
            @Html.DropDownListFor(x => x.RolId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })

            @Html.HiddenFor(x => x.AdminID)
            <br />
            @*@Html.MathCaptcha()*@

            <button class="btn btn-success">Yeni Kullanıcı Ekle</button>

        </form>
    }
</div>

