@model GGYatirim.Models.Sinif.DbilanOzellik
@{
    ViewBag.Title = "AdmilanOzellikGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<!doctype html>
<html class="no-js " lang="en">

<body class="theme-blue">
    <!-- Main Content -->
    <section class="content">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>
                        İlan Özellik Belirt
                        <small class="text-muted">Tekrar Hoş Geldiniz</small>
                    </h2>
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <h4>İlan Durum Güncelle</h4>

                            @using (Html.BeginForm("AdmilanOzellikGuncelle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {


                                <form class="form-group" method="post">

                                    İlan Özellik Ad
                                    @Html.TextBoxFor(x => x.OzellikAd, new { @class = "form-control" })



                                    @Html.HiddenFor(x => x.ilanOzellikID)
                                    <br />

                                    <button class="btn btn-raised btn-success btn-simple btn-round">Değişikliği Kaydet</button>

                                </form>





                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>

