
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>PRODUCTION BUILD Area HTML</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans:700,400%7CRaleway:400,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="~/area/builds/area/css/style.min.css" rel="stylesheet" />
    <link href="~/area/css-min/area.min.css" rel="stylesheet" />
</head>

<body class="error_page">
    <div class="container">
        <a class="logo" href="#">
            <img src="~/Content/Images/Logo Update-01.png" width="120px" alt="logo">
        </a>
        <div class="back-img">
            <img src="~/Content/Images/error_page.svg" alt="background">
        </div>
        <h1>Hata! sayfa bulunamadı</h1>
        <p>Aradığınız sayfayı bulamıyoruz, geri dönün ve tekrar deneyin!</p>
        <span>Hata kodu: 404</span>
        <div class="buttons-wrap">
            @*<a class="arrow left" href="#"><i class="material-icons">&#xE5C4;</i>go back</a>*@
            <a class="arrow right" href="/">Ana Sayfa<i class="material-icons">&#xE5C8;</i></a>
        </div>
        <div class="menu-list">
            <div>
                <ul>
                    <li>
                        <a href="/">
                            Ana Sayfa
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            İlanlar
                        </a>
                    </li>
           
               
                    <li>
                        <a href="#">
                            İletişim
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/area/js/library/jquery.js"></script>
    <script type="text/javascript" src="~/area/js/library/bootstrap.js"></script>
    <script type="text/javascript" src="~/area/js/library/owl.carousel.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBGotOna22MxxiHpaGPV1aEOYTMx428-g"></script>
    <script type="text/javascript" src="~/area/js/library/markerclusterer.js"></script>
    <script type="text/javascript" src="~/area/js/library/ion.rangeSlider.min.js"></script>
    <script type="text/javascript" src="~/area/js/library/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="~/area/js/library/chartist.min.js"></script>
    <script type="text/javascript" src="~/area/js/library/microplugin.js"></script>
    <script type="text/javascript" src="~/area/js/library/sifter.js"></script>
    <script type="text/javascript" src="~/area/js/library/selectize.js"></script>
    <script type="text/javascript" src="~/area/js/library/progressbar.js"></script>
    <script type="text/javascript" src="~/area/js/library/module.js"></script>
    <script type="text/javascript" src="~/area/js/library/hotkeys.js"></script>
    <script type="text/javascript" src="~/area/js/library/uploader.js"></script>
    <script type="text/javascript" src="~/area/js/library/simditor.js"></script>

    <script type="text/javascript" src="~/area/js/rangeslider.js"></script>
    <script type="text/javascript" src="~/area/js/agent_slider.js"></script>
    <script type="text/javascript" src="~/area/js/post_slider.js"></script>
    <script type="text/javascript" src="~/area/js/property_carousel.js"></script>
    <script type="text/javascript" src="~/area/js/partner_carousel.js"></script>
    <script type="text/javascript" src="~/area/js/agents_carousel.js"></script>
    <script type="text/javascript" src="~/area/js/counters.js"></script>
    <script type="text/javascript" src="~/area/js/slider_text.js"></script>
    <script type="text/javascript" src="~/area/js/pageviews_chart.js"></script>
    <script type="text/javascript" src="~/area/js/search_form.js"></script>
    <script type="text/javascript" src="~/area/js/search_form_slider.js"></script>
    <script type="text/javascript" src="~/area/js/count_checker.js"></script>
    <script type="text/javascript" src="j~/area/s/form_toggle.js"></script>
    <script type="text/javascript" src="~/area/js/featured_carousel.js"></script>
    <script type="text/javascript" src="~/area/js/one_element_slider.js"></script>
    <script type="text/javascript" src="~/area/js/accordion.js"></script>
    <script type="text/javascript" src="~/area/js/partners_small.js"></script>
    <script type="text/javascript" src="~/area/js/pageviews_chart.js"></script>
    <script type="text/javascript" src="~/area/js/intro_page.js"></script>
    <script type="text/javascript" src="~/area/js/map_component.js"></script>
    <script type="text/javascript" src="~/area/js/header.js"></script>
    <script type="text/javascript" src="~/area/js/property_slider.js"></script>
    <script type="text/javascript" src="~/area/js/visible.js"></script>
    <script type="text/javascript" src="~/area/js/coming-soon.js"></script>
    <script type="text/javascript" src="~/area/js/rate_article.js"></script>
    <script type="text/javascript" src="~/area/js/service-page-size.js"></script>
    <script type="text/javascript" src="~/area/js/preloader.js"></script>
    <script type="text/javascript" src="~/area/js/clear_form.js"></script>
    <script type="text/javascript" src="~/area/js/property_gallery.js"></script>
    <script type="text/javascript" src="~/area/js/area_tabs.js"></script>
    <script type="text/javascript" src="~/area/js/testimonials.js"></script>
    <script type="text/javascript" src="~/area/js/sign_in.js"></script>
    <script type="text/javascript" src="~/area/js/account_page.js"></script>
    <script type="text/javascript" src="~/area/js/chat_component.js"></script>
    <script type="text/javascript" src="~/area/js/account_chart.js"></script>
    <script type="text/javascript" src="~/area/js/account_component.js"></script>
    <script type="text/javascript" src="~/area/js/text_editor.js"></script>

    <script type="text/javascript" src="~/area/js/main.js"></script>
    <!--<script type="text/javascript" src="js-min/min.js"></script>-->

</body>
</html>